<html>
<head>
    <title>HealthMax - Career Center</title>
    <style type="text/css">
        @@font-face {
            font-family: Calibri;
        }

        @@font-face {
            font-family: Tahoma;
        }

        body {
            font-family: Calibri, Tahoma;
            font-size: medium;
            margin: 10px;
        }
        div.header {
            height: 60px;
            width: 100%;
            padding: 10px;
            background-color: #00267D;
        }
    </style>
</head>
    <body>
        <div>
            <h2>HealthMax - Career Center</h2>
        </div>
        @RenderBody()
    </body>
</html>