<h3>Change Password Notification</h3>
<p>
    Your HealthMax Career Center password has been changed.
    <br/>
    Now you will be able to login by using the following credentials:
</p>
<p>
    <strong>Email:</strong> @ViewBag.Email
    <br/>
    <strong>Password:</strong> @ViewBag.Pass
</p>
