<h3>Status Change Notification</h3>
<p>
    Your HealthMax Career Center status has been changed on your application for: <strong>@ViewBag.Position</strong>.
    <br />
    The new status is: <strong>@ViewBag.Status</strong>
</p>
<p>You will soon receive the information about how to procceed.</p>