@model HandleErrorInfo

@{
    ViewBag.Title = "Verification Error";
}

<h1 class="text-danger">@FontAwesomeIconSet.ExclamationCircle.Html Verification Failed.</h1>
<h3 class="text-danger">It was impossible to verify your email address, please try again.</h3>

<p>
    If you don't know what to do, please, contact the system administrator for support.
</p>
