/*Especification site*/
@font-face {
    font-family: "OpenSans-Regular";
    font-style: normal;
    font-weight: 800;
    src: url("../fonts/OpenSans-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "OpenSans-Bold";
    font-style: normal;
    font-weight: 800;
    src: url("../fonts/OpenSans-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "BeyondWonderland";
    font-style: normal;
    font-weight: normal;
    src: url("../fonts/BeyondWonderland.ttf") format("truetype");
}

body {
    font-family: "OpenSans-Regular";
    padding-top: 60px;
    padding-bottom: 20px;
}

strong {
    font-family: "OpenSans-Bold";
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
}

.paddingless {
    padding: 0;
}

.marginless {
    margin: 0;
}

.header-logo {
    font-family: "BeyondWonderland";
    color: whitesmoke;
    text-decoration: none;
    font-size: 100%;
}

    .header-logo:hover {
        text-decoration: none;
        cursor: pointer;
        color: whitesmoke;
    }

.header-logo-caps {
    font-size: 120%;
}

@media (max-width: 768px) {
    .logo {
        font-size: 1.8em;
        padding-top: 2px;
    }
}

input [type="text"] {
    height: 38px;
}


.ribbon-success .banner::after, .ribbon-success .banner::before {
    background-color: #24a15b;
}

.ribbon-success .text::before, .ribbon-success .text::after, .no-css-transforms .ribbon-success .text {
    background-color: #2dcb73;
}

.ribbon-info .banner::after, .ribbon-info .banner::before {
    background-color: #17989c;
}

.ribbon-info .text::before, .ribbon-info .text::after, .no-css-transforms .ribbon-info .text {
    background-color: #1ec3c8;
}

.ribbon-warning .banner::after, .ribbon-warning .banner::before {
    background-color: #ff9d11;
}

.ribbon-warning .text::before, .ribbon-warning .text::after, .no-css-transforms .ribbon-warning .text {
    background-color: #ffb244;
}

.ribbon-danger .banner::after, .ribbon-danger .banner::before {
    background-color: #ff321c;
}

.ribbon-danger .text::before, .ribbon-danger .text::after, .no-css-transforms .ribbon-danger .text {
    background-color: #ff604f;
}

.ribbon-dark .banner::after, .ribbon-dark .banner::before {
    background-color: #ff321c;
}

.ribbon-dark .text::before, .ribbon-dark .text::after, .no-css-transforms .ribbon-dark .text {
    background-color: #ff604f;
}


/*Paginación*/
.pagination {
    margin: 0;
}

/*navbar*/
.navbar-inverse .navbar-brand, .navbar-inverse .navbar-nav > li > a {
    color: #fff;
}

    .navbar-inverse .navbar-brand:hover, .navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
        color: #999;
    }


/* Validation Styles */

.field-validation-error {
    font-size: 0.9em;
    color: #A94442;
}

.field-validation-valid {
    display: none;
}

a.bcp-selectbox-toggle.has-error {
    color: #A94442;
    border-color: #a94442;
    background-color: #f2dede;
    background-color: rgba(242, 222, 222, 0.25);
    -webkit-box-shadow: inset 0 1px 1px #000000;
    -webkit-box-shadow: inset 0 1px 1px #000000;
    -ms-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px #000000;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}

    a.bcp-selectbox-toggle.has-error:focus {
        -webkit-box-shadow: inset 0 1px 1px #000000, 0 0 6px #ce8483;
        -webkit-box-shadow: inset 0 1px 1px #000000, 0 0 6px #ce8483;
        -ms-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #ce8483;
        box-shadow: inset 0 1px 1px #000000, 0 0 6px #ce8483;
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #ce8483;
    }

.has-error .form-control {
    border-color: #a94442;
    background-color: #f2dede;
    background-color: rgba(242, 222, 222, 0.25);
    -webkit-box-shadow: inset 0 1px 1px #000000;
    -webkit-box-shadow: inset 0 1px 1px #000000;
    -ms-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px #000000;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}

    .has-error .form-control:focus {
        border-color: #843534;
        background-color: #f2dede;
        background-color: rgba(242, 222, 222, 0.25);
        -webkit-box-shadow: inset 0 1px 1px #000000, 0 0 6px #ce8483;
        -webkit-box-shadow: inset 0 1px 1px #000000, 0 0 6px #ce8483;
        -ms-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #ce8483;
        box-shadow: inset 0 1px 1px #000000, 0 0 6px #ce8483;
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #ce8483;
    }

.has-error > label.control-label {
    font-family: "OpenSans-Bold";
}

input.input-validation-error.form-control {
    border: 1px solid #A94442;
    background-color: #f2dede;
    background-color: rgba(242, 222, 222, 0.25);
    -webkit-box-shadow: inset 0 1px 1px #000000;
    -webkit-box-shadow: inset 0 1px 1px #000000;
    -ms-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px #000000;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}

    input.input-validation-error.form-control:focus {
        border: 1px solid #A94442;
        background-color: #f2dede;
        background-color: rgba(242, 222, 222, 0.25);
        -webkit-box-shadow: inset 0 1px 1px #000000, 0 0 6px #ce8483;
        -webkit-box-shadow: inset 0 1px 1px #000000, 0 0 6px #ce8483;
        -ms-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #ce8483;
        box-shadow: inset 0 1px 1px #000000, 0 0 6px #ce8483;
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #ce8483;
    }

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #A94442;
}

.validation-summary-valid {
    display: none;
}

/*checkbox*/
.adjust-text-checkbox {
    margin-left: -35px;
}

/* SQUARED THREE */
.squaredThree {
    width: 20px;
    /*margin: 20px auto;*/
    margin-left: -12px;
    position: relative;
}

    .squaredThree label {
        cursor: pointer;
        position: absolute;
        width: 20px;
        height: 20px;
        top: 0;
        -ms-border-radius: 4px;
        border-radius: 4px;
        -webkit-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,.4);
        -moz-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,.4);
        -ms-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,.4);
        box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,.4);
        background: -webkit-linear-gradient(top, #222 0%, #45484d 100%);
        background: -moz-linear-gradient(top, #222 0%, #45484d 100%);
        background: -o-linear-gradient(top, #222 0%, #45484d 100%);
        background: -ms-linear-gradient(top, #222 0%, #45484d 100%);
        background: linear-gradient(#222 0%, #45484d 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#222', endColorstr='#45484d',GradientType=0 );
    }

        .squaredThree label:after {
            -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
            -webkit-filter: alpha(opacity=0);
            -moz-filter: alpha(opacity=0);
            -o-filter: alpha(opacity=0);
            filter: alpha(opacity=0);
            -ms-opacity: 0;
            opacity: 0;
            content: '';
            position: absolute;
            width: 13px;
            height: 8px;
            background: transparent;
            top: 4px;
            left: 4px;
            border: 3px solid #fcfff4;
            border-top: none;
            border-right: none;
            -webkit-transform: rotate(-45deg);
            -moz-transform: rotate(-45deg);
            -o-transform: rotate(-45deg);
            -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
        }

        .squaredThree label:hover::after {
            -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
            -webkit-filter: alpha(opacity=30);
            -moz-filter: alpha(opacity=30);
            -o-filter: alpha(opacity=30);
            filter: alpha(opacity=30);
            -ms-opacity: 0.3;
            opacity: 0.3;
        }

    .squaredThree input[type=checkbox]:checked + label:after {
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
        -webkit-filter: alpha(opacity=100);
        -moz-filter: alpha(opacity=100);
        -o-filter: alpha(opacity=100);
        filter: alpha(opacity=100);
        -ms-opacity: 1;
        opacity: 1;
    }

/*ajuste para formularios*/
.form-group {
    margin-right: 0 !important;
    margin-left: 0 !important;
}

th {
    font-family: "OpenSans-Bold";
}

/* Toastr */
#toast-container > .toast-info {
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAHFSURBVEhLtZa/SsNAGMCT4ODQsWOHChV8AEeHbu1QoWMewAdQ8AG6uwgubl0LUijo0OLg4OLoAwgVWrCg0KGDQqX19919idS0lwjND77c3ffvvksul/ieg+VyWUCadGtIGSmJHibIGBn4vt9DPow2K5q4tVgsPmmd4DNHrugWNdwNzofIyIZnh5gpUtc068EhRDZWjU2qTbOfarpVMEjlrmCxlZEifecKsTc0rQVdIUPQUN2lmAdVrwX7DIk2hJmgZU1uCLpHbnToBL+25Pbpy455Z6vtmtm2CHn3Ay7NPJIrYcBFXiInFPGCdJBjinG+nH+oyQN7JDCNI0R20I5EGU0GyD3yuQwpSo6BLOzh+yrBOk5FbpGpKi9kAjm0coGFTnKdAMYywcD2c6Ef8NB6LOVbFVuF3F2ZQD4W11a1PSj6jtzP0UBOyCntRrDPaAriT//NateDfU5zYJJHoKyrIQF6+U7EpyP9CuqqtSbBfqKu3sprj+GcZV3oMIaYJ5ovO/oF36p2Y/C9DILgTIdJmKSByO34F8TI1yyu3AmOJaStsange0uzes8V58lIYIUmRMxvC7fEPAeSRb8tfXTdeLck8LwfuX9h64eBO4oAAAAASUVORK5CYII=") !important;
}

#toast-container > .toast-error {
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAG7SURBVEhLtZavTgNBEIfvLhWIigpESVrHAyAQSHCVCCQCicMiSRA8AA+AQCAQDQkGBQJJUhwCkpJAUpIKcJC0aflmbq4tubu97R++5JeZ3Z2dud3b2zaYhsFg0EDN4XBYsa7FQMIyiU+xCn4brdvw7JCrig5J1tHME9DXQ2e4axbuB5NW0S46R99xOjfE3aJ93OxiDNZQNw6fH3J9og3JHWmFIKiGYbhsfibM66M7U9+6MyFXBS2JrwVolMUW8B5F0ZZI/LirmGQF/4YWYMk/2nJTMyvo8n1IVlC4ZLaxZK74VXNd6HvSAuyr955OgeYcvQO26dXcRfG3ABSugodwHuUE4j7YxvEWGfdmXfgcZ+HB7LgAFW/MzYUnO0BH1nRxZTYIzcrkEupSKPcqZlyOc58Y50qIqycHZ3IFsmfXcSsNk76IqaMV/BfrTsHYY+6p5IKSmzTzBqVfrmz9wPBbcW8axhqaLA8Cji02BWNvqG3NFIw1LU0+xJUIvIyn+MOcJ4zPFz4qIr+9XkyVPIEJUuQE9TRLDoxfYGb/E8DkTZI8a7YJ6OugHQubD/LJN7JNwpYV20MeV3YQ/AJPBniYt3mkDAAAAABJRU5ErkJggg==") !important;
}

#toast-container > .toast-success {
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAFjSURBVEhL1ZStUgMxFIVXVFZUVFQgEYhKBA+ARCAqeQAkAoHE8QAVSASSB0BUICoRCAQSgahAIBAVnVn4TvZMmMCyU5oYvpk7N7k/J+3m7lb/jrqux9jjB+BvHC4DgsfYsrg4ej0EryUsWN/hek7ngVAfwXlQBtb3uL7TeSA0QjA8b8H6CTdyOg+EdhB8DsrAeoFtO50HehJfNNJBfIXbdzoPhBJxwf7C6Tz0CFrEdcHdE0PRhKLOv0he06JLjLB/w7Zc0o7EsZXtxOEEtDTns0Y24dAlv0NjfEGE98kcE5s22S+IXTndDbUDiuO4CfYP2Fh5/IHDEWKvuGEQWAcadjGNWkR7bIq9OxQhduTW9aHp1P2dUDdzy9+h+dY6rZBfYpu/rWgMEUjm/BtnLt0cDvhxqYK4PmplPsGItY3lntP5oJe8tawvnSqHfjGmUX3hjIHDZUH4nAMm3paHAzIvtao+ARkZaXgwqiizAAAAAElFTkSuQmCC") !important;
}

#toast-container > .toast-warning {
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAF6SURBVEhLzZOhTsRAEIZbUoGsOIHDICoQCBIMAoGoOMkjIA6Pw1xyD1CBRMBbIBA8AOYMCQkPcXiSK9/s/tekt23pNSXhSya7M7P7z+x2G/0ryrI8X6/XU7njgvgB4ivsGztWeDwQfaCIg/mLwuOA5ol17uU9+ONdFWKv0q0g9smQaMlwELrykiHkbrVsGGjsq9NGyK0YJlq+O9ahl3JijwwXZpo7mN9r+W6wd6ION8yVstzch1wB+/iZUgF7GgPYtIjjOJXbCmsS1hZyAxoL0JX9SNfe+x2K5OzJ5dZoO0FhnWnel4KTBHuCAnQyRfxSbm/Yk1FgJreiVkAdtN5nDxZo1L7bdoEZnRzJrUHuEHPP1OYK12BvSu5Obh0S6dazHIQ9W6xqsjoBuc5nSX6JPcmWCgegEV4zGzKrzNhF44/WgXso7gQ4Q55lJ6aJJTGd54g/K94Ki78YzIy06zo3sOfGCryx+FSxUaHAhxWwn+PMh0bnXeNfEUU/24/n1ttGSIQAAAAASUVORK5CYII=") !important;
}




/*   Imágenes   */
@media(min-width: 768px) {
    #img-tattoo {
        width: 33%;
        margin-left: 5px;
        margin-right: 5px;
    }
}

.navbar-header {
    margin: -12px 0 0 -60px;
}

.polaroid {
    box-shadow: 0 3px 6px rgba(0,0,0,.2);
    padding: 8px 8px 0 8px;
    line-height: 1.42857143;
    background-color: #fff;
    border: 1px solid #ddd;
    margin-bottom: 10px;
}

.img-base {
    border: 1px solid #b4b1b1;
    margin-bottom: 15px;
    margin-right: 0;
}

.base {
    margin-bottom: 10px;
}

.img-polaroid {
    width: 100%;
    vertical-align: top;
}

.img-avatar {
    background-color: antiquewhite;
    box-shadow: 0 3px 6px rgba(8,10,0,.2);
    border: 1px solid #b4b1b1;
    padding: 2px;
    margin: -14px 3px 2px 5px;
    transform: rotate(340deg);
}

.date-avatar {
    text-align: right;
    padding-right: 6px;
    float: right;
}

.polaroid > p {
    margin-top: -50px;
    margin: 6px 6px 6px 15px;
}

.polaroid > .btn {
    margin-bottom: 8px;
    margin-left: 15px;
}

.polaroid > small {
    margin-right: 3px;
}

.img-details {
    width: 100%;
}

/* Código nuevo */
.menu-center-link {
    width: 25%;
    position: relative;
    min-height: 1px;
    padding-left: 5px;
    float: left;
}

.menu-center-top {
    height: 5px;
    width: 100%;
}

.menu-center-bottom {
    margin-top: 5px;
    height: 60px;
    width: 100%;
    text-align: center;
    color: white;
    padding-top: 20px;
    font-size: 1.1em;
}

    .menu-center-bottom:hover {
        cursor: pointer;
    }

.slide-notice {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: blanchedalmond;
    margin-bottom: 5px;
}

.menu-primary {
    background-color: #428BCA;
    border-color: #357EBD;
}

    .menu-primary:hover {
        background-color: #3276b1;
        border-color: #285e8e;
    }

.menu-danger {
    background-color: #D9534F;
    border-color: #D43F3A;
}

    .menu-danger:hover {
        background-color: #d2322d;
        border-color: #ac2925;
    }

.menu-warning {
    background-color: #F0AD4E;
    border-color: #EEA236;
}

    .menu-warning:hover {
        background-color: #ed9c28;
        border-color: #d58512;
    }

.menu-success {
    background-color: #5CB85C;
    border-color: #4CAE4C;
}

    .menu-success:hover {
        background-color: #47a447;
        border-color: #398439;
    }

.menu-center-link a {
    text-decoration: none;
    cursor: pointer;
}

    .menu-center-link a,
    .menu-center-link a:visited,
    .menu-primary,
    .menu-danger,
    .menu-warning,
    .menu-success {
        color: #FFF;
    }






/*comments*/
.comments {
    margin-bottom: 15px;
    display: block;
}

.comments-header {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #E5E5E5;
    border-radius: 4px;
    background: none repeat scroll 0% 0% #FAFAFA;
}

.comments-title {
    margin-top: -5px;
    font-size: 16px;
    line-height: 18px;
}

.comments-metas {
    margin: 2px 0px 0px;
    font-size: 11px;
    line-height: 16px;
    color: #999;
}

.comments-avatar {
    margin-right: 15px;
    float: left;
    box-sizing: border-box;
    height: auto;
    vertical-align: middle;
    border: 1px solid #E5E5E5;
    border-radius: 4px;
}

.comments-text {
    padding-left: 10px;
    padding-right: 10px;
}
