<h4>Security Considerations</h4>
<hr />
<div>
    <p class="text-justify">
        Due to security reasons on the system, only registered users will be allowed to access all the features
        available. If you are unable to login or any other difficulty, please, ask for support to the system
        administrator.
    </p>
</div>
