@{
    ViewBag.Title = "Password Changed";
}

<h1 class="text-success">@FontAwesomeIconSet.ThumbsUp.Html Password Successfully Changed.</h1>
<h3 class="text-success">An Email with your new password was delivered to the email address you provided.</h3>
<p>
    Please, check your email in order login and keep your password safe.
    <br />
    You are encouraged to change your password as soon as possible to keep it secret.
    <br/><br/>
    Did not receive the new credentials? @Html.ActionLink("Then try again", "PasswordRecovery", new {area = ""}), otherwise @Html.ActionLink("Log in", "Login", new { area = "" }).
</p>
<p>
    <small>If you didn't request this change of password, please change your password to a new one and contact the system administrator.</small>
</p>
