@{
    ViewBag.Title = "Register Completed";
}

<h1 class="text-success">@FontAwesomeIconSet.ThumbsUp.Html Register Completed.</h1>
<h3 class="text-success">A Verification Email was delivered to the email address you provided.</h3>
<p>
    Please, check your email and click the activation link in order to activate your account.
    <br/>
    After activating your account you will be able to <a href=@Url.Action("Login", "Account")>Log in</a>.
</p>
